/* *********** Custom Properties ************** */
:root{
    --font: "Raleway", sans-serif;
    --backgroundOld: #0F2027;  /* fallback for old browsers */
    --backgroundChrome: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    --backgroundFirefox: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    --backgroundChrome-left: -webkit-linear-gradient(to left, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    --backgroundFirefox-left: linear-gradient(to left, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    --main-color: #fff;
    --gray-color: rgba(128, 128, 128,.6);
    --white-opacity-color: rgba(255,255,255,.2);
    --header-height: 4rem;
    --black-color: #000;
    --black-opacity-color: rgba(0,0,0,.5);
    --error-red-color: #cf0b0c;
}

/* ************************************************* Reset ******************************************************* */
html{
    box-sizing: border-box;
    font-family: var(--font);
    font-size: 16px;
    background: var(--backgroundOld);
    background: var(--backgroundChrome);
    background: var(--backgroundFirefox);
    color: var(--main-color);
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

*,
*::after,
*::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

h1{
    margin: 0;
    font-size: 2rem;
}

h2{
    margin: 0;
    font-size: 1.5rem;
}

h3{
    margin: 0;
    font-size: 1.25rem;
}

h4{
    margin: 0;
    font-size: 1rem;
}

h5{
    margin: 0;
    font-size: 0.85rem;
}

h6{
    margin: 0;
    font-size: 0.7rem;
}

a{
    text-decoration: none;
    color: var(--main-color);
}

ul, li{
    list-style: none;
}

textarea{
    resize: none;
    font-family: var(--font);
}

/* 
eliminar borde en campos input invalidos, no es un borde ni un outline, en firefox es un box-shadow

:invalid {
  box-shadow: none;
}

:-moz-submit-invalid {
  box-shadow: none;
}

:-moz-ui-invalid {
  box-shadow: none;
} */

/* ********************************************** Components ****************************************************** */
.container{
    width: 90%;
    height: 100%;
    margin: auto;
}

.modal-container{
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--black-opacity-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.modal{
    width: 60%;
    height: 40%;
    margin-top: -10rem;
    border-radius: 2rem;
    background: var(--main-color);
    color: var(--black-color);
    padding: 2rem;
    position: relative;
    transform: scale(1);
    transition: all .5s ease;

    color: orange;
}

.modal-close{
    visibility: hidden;
    transform: scale(0);
    transition: all .5s ease;
}

.modal>i{
    position: absolute;
    top: 1rem;
    right: 2rem;
    cursor: pointer;
    transition: all .5s ease;
}

.modal>i:hover{
    transform: scale(1.4,1.4);
    transform-origin: center;
}

.content{
    display: flex;
    flex-direction: column;
    margin: .5rem 0;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

.content p{
    margin: .5rem 0;
    text-align: center;
}

.content i{
    margin: .5rem 0;
}

.no-display{
    display: none;
}

.active{
    display: flex;
    transition: all .3s ease;
}

/* ************************************************** NavMenu **************************************************** */
header{
    width: 100%;
    height: var(--header-height);
    position: fixed;
    bottom: 0;
    z-index: 999;
    /* mismo color del fondo para que tenga un fondo solido 
    y no solo se superponga al contenido que tenga debajo al scrollear */
    background: var(--backgroundOld);
    background: var(--backgroundChrome);
    background: var(--backgroundFirefox);
}

.mobile-hr{
    color: var(--main-color);
}

.desktop-hr{
    display: none;
    color: var(--main-color);
}

.nav-menu{
    position: relative;
    display: flex;
    align-items: center;
}

.nav-logo h2{
    letter-spacing: .2rem;
    color: var(--main-color);
}
.nav-logo a:hover,
.nav-logo a:focus{
    opacity: .8;
}

.btn-menu{
    position: absolute;
    right: 0;
    cursor: pointer;
    transition: all .2s ease;
}

.btn-menu:hover,
.btn-menu:focus{
    opacity: .6;
    transform: scale(1.4, 1.4);
    transform-origin: center;
    transition: all .2s ease;
}

.panel-menu{
    position: fixed;
    bottom: 4rem;
    right: 0;
    width: 40%;
    height: auto;
    /* background: rgba(255, 255, 255, .3); */
    border-top: 1px solid var(--main-color);
    border-left: 1px solid var(--main-color);
    border-right: 1px solid var(--main-color);
    opacity: 1;
    transition: all .5s ease;
    z-index: 1000;
    visibility: visible;
}

.panel-menu.none{
    /* display: none; */
    visibility: hidden;
    opacity: 0;
    transform: translateY(20rem);
}

.panel-items{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    background: var(--backgroundOld);
    background: var(--backgroundChrome-left);
    background: var(--backgroundFirefox-left);
}

.panel-items a{
    width: 100%;
    padding: 1rem;
    color: #fff;
    text-align: center;
}

.panel-items a:hover,
.panel-items a:focus{
    background-color: rgba(19, 18, 18, 0.5);
}

/* ************************************************* Presentation ************************************************** */
.presentation{
    height: 70vh;
    position: relative;
    transition: all .3s ease;
}
.presentation-content{
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.presentation-content h2{
    text-align: center;
    margin: .5rem 0;
    font-size: 3rem;
}

.presentation-content p{
    text-align: center;
    font-size: 1.1rem;
    z-index: 2;
}

.presentation-img{
    margin-top: -2rem;
    width: 100%;
    height: 100%;
}

.presentation-img img{
    width: 100%;
    height: 50vh;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}

/* ******************************************* Project Section **************************************************** */
.still-working{
    margin-bottom: 1rem;
    height: 80vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white-opacity-color);
    position: relative;
    border-radius: 1rem; 
}

.still-working h2{
    position: absolute;
}

.work-img{
    width: 80%;
    height: 80%;
}

/* .projects{
    display: flex;
    background-color: var(--white-opacity-color);
    margin: 2rem auto;
} */

/* ******************************************* About Section **************************************************** */
.about-content{
    height: auto;
    display: grid;
    grid-template-areas: 'presentation presentation'
                         '  info         info';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60vh auto;
    transition: all .3s ease;
}

.about-presentation{
    grid-area: presentation;
    display: grid;
    grid-template-areas: 'name         name'
                         'image        image'
                         'description  description';
    transition: all .3s ease;
}

.about-presentation h1{
    grid-area: name;
    display: flex;
    align-self: center;
    justify-self: center;
    padding: .5rem;
    font-size: 3rem;
    transition: all .3s ease;
}

.about-presentation img{
    grid-area: image;
    margin-top: -1rem;
    height: 80%;
    width: 50%;
    display: flex;
    align-self: center;
    justify-self: center;
    padding: 0 1rem;
    border-radius: .5rem;
    transition: all .3s ease;
}

.about-presentation .description-info{
    grid-area: description;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    padding: 0 1rem;
    transition: all .3s ease;
    margin-top: -1rem;
    margin-bottom: .5rem;
}

.about-presentation .description-info p{
    text-align: center;
    margin: .2rem 0;
    transition: all .3s ease;
}

.about-info{
    grid-area: info;
    padding: .5rem 1rem;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    border: 1px solid var(--main-color);
    border-radius: .5rem;
    transition: all .3s ease;
}

.about-info h2{
    margin: .1rem 0;
    transition: all .3s ease;
}

.about-info hr{
    color: var(--main-color);
    width: 100%;
}
.about-info p{
    text-align: center;
    padding: .2rem 1rem;
    transition: all .3s ease;
}

.tech-icons{
    display: flex;
    align-items: center;
}

.about-info .tech-icons i{
    padding: 1rem 0;
    margin: 0 .2rem;
    text-align: center;
    cursor: pointer;
    transition: all .5s ease;
}

.about-info .tech-icons i:hover{
    transform: scale(1.5,1.5);
}
/* ******************************************* Contact Form **************************************************** */
#contact{
    margin: 1rem 0;
}

.form-container{
    display: flex;
    flex-direction: column;
}

.form-container h2{
    text-align: center;
}

#contact-form{
    margin: .5rem 0;
    width: 80%;
    border: 1px solid var(--main-color);
    border-radius: .5rem;
    align-self: center;
    transition: all .3s ease;
}

.form-group{
    margin: .5rem 0;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    width: 100%;
}

.form-group label{
    margin-bottom: .3rem;
}

.form-group input:not(input[type=submit]),
.form-group textarea{
    /* border-radius: .5rem; */
    padding: .2rem .5rem;
    transition: all .3s ease;
    background: none;
    border: none;
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

:invalid{
    box-shadow: none;
}

.form-group input:not(input[type=submit]).error,
.form-group textarea.error{
    border-bottom: 1px solid var(--error-red-color);
}

.form-group input:focus:not(input[type=submit]),
.form-group input:hover:not(input[type=submit]),
.form-group textarea:focus,
.form-group textarea:hover{
    transform: scale(1.05);
}

.form-group input[type=submit]{
    width: 50%;
    align-self: center;
}
.form-group input[type=submit]:hover,
.form-group input[type=submit]:focus{
    transform: scale(1.1);
    cursor: pointer;
}

.contact-form-error{
    margin-top: .3rem;
    padding: .2rem .5rem;
    font-size: .8rem;
    width: 100%;
    background-color: var(--error-red-color);
    border-radius: .5rem;
    transition: all .3s ease;
}

.contact-form-loader{
    text-align: center;
}

.contact-form-response{
    text-align: center;
    padding-bottom: .5rem;
}

.contact-info{
    border: 1px solid var(--main-color);
    border-radius: .5rem;
    width: 80%;
    align-self: center;
    padding: 1rem .5rem;
    justify-content: center;
    align-items: center;
}

.contact-info h3{
    text-align: center;
    margin-bottom: .5rem;
}

.contact-info .info{
    margin: .5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-info .info a{
    cursor: pointer;
    padding: .2rem 0;
}

.contact-info .info a:hover{
    opacity: .7;
}

.contact-info .info i{
    margin-right: .5rem;
}


















/* ******************************************* Media Queries **************************************************** */

@media screen and (min-width: 768px){
    .modal{
        width: 50%;
    }
    /* ******************************************* Presentation ************************************************ */
    .presentation-img img{
        top: 7rem;
    } 
    /* ******************************************* About Section ************************************************ */
    .about-presentation{
        grid-template-areas: 'name     name'
                         'image   description'
                         'image   description';
                         grid-template-rows: 10vh 25vh 25vh;
    grid-template-columns: 60% 1fr;

    }
    .about-presentation h1{
    padding: 0;
    }
    .about-presentation img{
        height: 90%;
        width: 80%;
    }
    .about-presentation .description-info{
        flex-direction: column;
        align-self: center;
        justify-self: center;
        padding: 0;
    }

    .about-presentation .description-info p{
        text-align: center;
        margin: .2rem 0;
        margin-left: -2rem;
        padding-right: 1rem;
        font-size: 1.1rem;
    }
    /* ******************************************* Contact Form ************************************************ */
    #contact-form{
        width: 60%;
    }
    .contact-info{
        width: 60%;
    }
}

@media screen and (min-width: 992px){
    /* ********************************************* NavMenu *************************************************** */
    header{
    position: sticky;
    top: 0;
    }
    .mobile-hr{
        display: none;
    }
    .desktop-hr{
        display: block;
    }
    .btn-menu{
        display: none;
    }
    
    .nav-menu{
        justify-content: space-between;
    }

    .nav-logo h2{
        width: 12rem;
    }

    .panel-menu{
    position: static;
    width: auto;
    border: none;
    z-index: 1000;
    transition: none;
    }

    .panel-menu.none{
        visibility: hidden;
        opacity: 1;
        transform: translateY(0);
    }

    .panel-items{
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 0 2rem;
        margin: 0 2rem;
        background: none;
    }

    .panel-items a{
        width: auto;
        font-size: 1.4rem;
        text-align: center;
        transition: all .3s ease;
    }

    .panel-items a:hover,
    .panel-items a:focus{
        background-color: inherit;
        transform: scale(1.1, 1.1);
        opacity: .7;
    }
    
    /* **************************************************** Presentation ****************************************** */
    .presentation-img img{
        filter: blur(1px);
    }
    .modal{
        width: 40%;
    }
    /* ******************************************* About Section ************************************************ */
    .about-presentation{
    grid-template-columns: 40% 1fr;

    }
    .about-presentation h1{
    padding: 0;
    }
    .about-presentation img{
        height: 90%;
        width: 80%;
    }
    .about-presentation .description-info p{
        font-size: 1.2rem;
        margin: .4rem 0;
        margin-left: -3rem;
    }
}

@media screen and (min-width: 1024px){
}